html, body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}
h1, h2, h3, h4, h5, h6, strong{
    font-family: 'Prata', sans-serif;
}

h2{ font-size: xxx-large; }
h4{ font-size: x-large; }

button{
    border: none;
    font-size: 72%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    max-width: 80%;
    padding: 3%;
}

header {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 10% 1fr 13%;
    gap: 1% 0%;
    padding: 1%;
    position: fixed;
    z-index: 0;
    background-color: black;
    width: 99vw;
}

header > #logo, footer > #footer div #logo{
    font-size: x-small;
    text-align: center;
}

header > #menu nav{
    margin-top: 1%;
}
header > #menu nav *{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 31px;
    font-style: italic;
}

main > #home {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 50% 50%;
    gap: 1% 0%;
}

main > #home .info{
    display: block;
    float: left;
    margin-left: 4vw;
    margin-top: 35%;
}

main > #home .info ul{
    font-size: large;
    padding: 3%;
}
main > #home .info ul *{
    margin-top: 2%;
    margin-bottom: 2%;
}

main > #info {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 30% 1fr 30%;
    gap: 1% 0%;
}

main > #info .image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

main > #info .info {
    padding: 5%;
}
main > #info .info ul{
    padding: 3%;
    margin: 0 auto;
}
main > #info .info ul li{
    
}
main > #info .info ul li:not(:nth-last-child(1)){
    
}
main > #info .info button{
    text-align: center;
    width: 100%;
}

footer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 40% 1fr;
    gap: 1% 0%;
    width: 99vw;
}

footer > #menu{
    border-bottom: solid 2px #d5c9be;
    border-top: solid 2px #d5c9be;
    padding-top: 1%;
}

footer > #menu nav{display: block;text-transform: uppercase;margin-left: 32vw;text-decoration: none;}
footer > #menu nav *{
    color: white;
    font-style: italic;
    padding: 1%;
}

footer > #footer{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 20% 1fr 20%; 
    gap: 1% 0%;
}
@media screen and (min-width: 360px) and (max-width: 720px){

}
@media screen and (min-width: 720px) and (max-width: 1600px){

}