body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}
h1, h2, h3, h4, h5, h6, strong{
    font-family: 'Prata', sans-serif;
}

h2{ font-size: xxx-large; }
h4{ font-size: x-large; }
h3{font-size: xx-large;color: #38535d;width: 80%;}

button{
    border: none;
    font-size: 72%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    max-width: 80%;
    padding: 3%;
    background: white;
}

button[type='submit']{
    background-color: black;
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    margin-left: 10%;
}

form{margin-top: 1%;}

fieldset{border: none;padding: 0%;}

input{width: 97%;padding: 3%;margin-top: 3%;margin-bottom: 3%;border-color: gray;outline: none;}
input::placeholder{
    opacity: 0.5;
    color: gray;
}

address{font-style: normal;font-size: large;}

header {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 10% 1fr 13%;
    gap: 1% 0%;
    padding: 1%;
    position: fixed;
    z-index: 1;
    background-color: black;
    width: 100%;
}

header > #logo, footer > #footer div #logo{
    font-size: x-small;
    text-align: center;
}

header > #menu nav{
    margin-top: 1%;
}
header > #menu nav *{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 31px;
    font-style: italic;
}

main > #home {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 50% 50%;
    gap: 1% 0%;
    width: 100%;
}

main > #home .info{
    display: block;
    float: left;
    margin-left: 4vw;
    margin-top: 35%;
}
main > #home .image{
    width: 100%;
    height: 100%;
}
main > #home .image *{
   object-fit: cover;
}
main > #home .info ul{
    font-size: large;
    padding: 3%;
}
main > #home .info ul *{
    margin-top: 2%;
    margin-bottom: 2%;
}

main > #info {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 30% 1fr 30%;
    gap: 1% 0%;
    width: 100%;
}

main > #info .image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

main > #info .info {
    padding: 5%;
}
main > #info .info ul{
    padding: 3%;
    margin: 0 auto;
}
main > #info .info ul li{
    padding-top: 8%;
    padding-bottom: 8%;
}
main > #info .info ul li:not(:nth-last-child(1)){
    border-bottom: solid 1px #55556a;
}
main > #info .info button{
    text-align: center;
    width: 100%;
    margin-left: 8%;
}

main > #feedback{padding: 5%; width: 100%; }

main > #feedback .form{width: 80vw;display: grid;grid-auto-columns: 1fr;grid-template-columns: 50% 50%;gap: 2% 1%;background: white;padding: 3%;margin: 0 auto;}

main > #feedback .form form{padding: 2%;}

main > #feedback .form div{
    position: relative;
    z-index: 0;
}

main > #feedback .form div img:nth-child(1){width: 100%;height: 100%;object-fit: contain;display: inline-table;float: right;}

main > #feedback .form div img:nth-last-child(1){width: 100%;height: 100%;object-fit: contain;display: inline-table;float: left;position: absolute;top: 8%;left: 23%;}


footer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 25% 1fr;
    gap: 1% 0%;
    width: 100%;
}

footer > #menu{
    border-bottom: solid 2px #d5c9be;
    border-top: solid 2px #d5c9be;
    padding-top: 1%;
}

footer > #menu nav{display: block;text-transform: uppercase;margin-left: 32vw;text-decoration: none;}
footer > #menu nav *{
    color: white;
    font-style: italic;
    padding: 1%;
}

footer > #footer{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 20vw 1fr 20vw;
    gap: 1% 0%;
    padding: 2%;
}

footer > #footer div .social{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 5px;
}
footer > #footer div .social li{
    padding: 2%;
}
footer > #footer div a.answer_link{
    color: white;
    display: block;
}
footer > #footer div{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: 1fr 10%; 
    gap: 1% 0%;
    width: 100%;
}
footer > #footer div button{
    height: 40%;
}
@media screen and (min-width: 360px) and (max-width: 720px){
    main > #home {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    main > #home .info {
        position: relative;
        z-index: 1000;
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
    }

    main > #home .image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
@media screen and (min-width: 720px) and (max-width: 1600px){
    
}